
\.idea/

node_modules/
.vscode/
scripts/ubc-course-scraper-123-021285516e23.json
.DS_Store
.firebaserc
firestore.indexes.json
firebase.json
firestore.rules
scripts/ubc-course-scraper-123-af3901de4598.json
