html
    head
        style
            include css/basic.css
        style
            include css/smalltableOverride.css
        title="Courses Page"
    body
        h1(style="text-align: center;")= "Course table for " + code
    div
        table
            thead
                tr
                    th Code
                    th Name
            tbody
                each dep in courses
                    tr
                        td
                            a(href='/Sections?code=' + dep.Code) #{dep.Code}
                        td=dep.Name